html,
body {
  height: 100%;

  padding: 0;
  margin: 0;

  font-family: "Fira Sans", sans-serif;
}

.container {
  height: 100%;

  display: -webkit-box;

  box-orient: horizontal;
}

.main {
  margin-left: 2vw;

  box-flex: 1;
}
