@import "../../styles/variables.scss";

* {
  font-family: "Fira Sans", sans-serif;
  color: $color-text-2;
}

body {
  background: #f48b3a;
}

h1 {
  margin-top: 2vh;

  color: $color-text-1;

  text-transform: uppercase;
}
