.econo-box {
  width: 30vw;
  height: 65vh;

  margin-right: 5%;

  padding: 10px 12px;

  border-radius: 10px;

  overflow: hidden;

  background: #fff;
}

h2 {
  text-transform: uppercase;
}

p {
  text-align: justify;
}
