$color-primary: #3f8b57;
$color-secundary: #f48b3a;

$color-component-primary: #ffffff;

$color-text-primary: #ffffff;
$color-text-secundary: #000000;
$color-text-tertiary: #f48b3a;
$color-text-default: #eeeeee;
