::-webkit-scrollbar {
  width: 1%;
}

::-webkit-scrollbar-track {
  border-radius: 2em;

  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;

  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
