@import "../../styles/variables.scss";

.econo-menu {
  background: $color-secundary;
}

.econo-menu-list {
  height: 95vh;

  margin-top: 2.5vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;

  list-style-type: none;
}

.econo-menu-item {
  width: 5vw;
  height: 10vh;

  text-align: center;

  background: $color-text-2;
}
