.nav {
  background: #333333;

  max-width: 10vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: space-around;

  box-flex: 0;
}

.nav-item {
  margin-left: 2vw;
  margin-right: 2vw;

  padding: 1vw 2vh;

  text-align: center;

  background: tomato;

  cursor: pointer;

  & a {
    text-decoration: none;
    color: #ffffff;
  }
}
