@import "../../styles/components.scss";
@import "../../styles/scrollbar.scss";
@import "../../styles/variables.scss";

.econo-box {
  width: 35vw;
  height: 50vh;

  border-radius: 2em;

  background: $color-component-1;
  overflow-y: scroll;
}

.econo-box-title {
  width: 35%;

  position: fixed;

  border-top-left-radius: 2em;
  border-top-right-radius: 2em;

  background: $color-component-1;
}

.econo-box-content {
  margin-top: 7vh;
}

.econo-paragraph-spotlight {
  font-size: 1.5em;
  font-weight: 800;
  text-transform: uppercase;

  margin-left: 1.5vw;

  color: $color-primary;
}
