.indexes-title {
  position: absolute;
  top: 10%;
}

.indexes-box {
  margin-top: 15%;

  width: 90vw;
}

@media screen and (min-width: 768px) {
  .indexes-box {
    display: flex;

    width: 90vw;
  }
}
