@import "../../styles/variables.scss";

.econo-dicio {
  max-width: 100%;

  display: flex;
}

.econo-search-box {
  position: relative;

  margin-top: 7.5vh;
  margin-bottom: 7.5vh;

  font-size: 1.5em;
}

.econo-search-input {
  width: 100%;
  height: 7vh;

  border: none;
  border-radius: 10px;

  text-indent: 1vw;

  background: $color-component-1;
}

input:focus {
  outline: 0;
}
