@import "../../styles/color-pallete.scss";
@import "../../styles/tags.scss";

.box-news {
  width: 100%;

  margin-top: 5%;

  border-radius: 1em;

  background: $color-component-primary;

  overflow-y: hidden;

  &:last-child {
    margin-bottom: 5%;
  }

  & img {
    width: 100%;
  }

  &-title {
    margin-top: 5%;
    padding-left: 2%;

    & h2 {
      font-size: 1em;
      text-align: left;
    }
  }

  &-description {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;

    & p {
      font-weight: 500;
    }

    text-align: justify;
  }
}
